In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import urllib.request
import codecs
import pandas as pd

In [2]:
def powerball_data(): 

    link = 'https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/download.html'
    r = requests.get(link)
    soup = BeautifulSoup(r.text, "html.parser")
    l= []
    for i in soup.find_all('a'):
        if i.get('href')!=None:
            if i.get('href')[0]!= "/" and i.get('href')[-3:]== "csv":
                link = (i.get('href'))

    url = link
    response = urllib.request.urlopen(url)
    cr = csv.reader(codecs.iterdecode(response, 'utf-8'))
    a=[]
    for row in cr:
        a.append(row)

    data = pd.DataFrame(a)
    return data

In [3]:
df = powerball_data()
df.tail()

             0   1   2     3   4   5   6   7   8   9  10
1384  Powerball  10  12  2022  59  30  42  14  41   6  5
1385  Powerball  10  15  2022  32  62  40  58  37  15  5
1386  Powerball  10  17  2022  46  30  36  19  60  25  3
1387  Powerball  10  19  2022  27  42  15   8   6  10  3
1388  Powerball  10  22  2022  55  25  60  19  48  18  2

In [4]:
df.columns

RangeIndex(start=0, stop=11, step=1)

In [5]:
df.rename(columns = {'0':'Game', '1':'Month', '2':'Day', '3':'Year', '4':'b1', '5':'b2', '6':'b3', '7':'b4', '8':'b5', '9':'PBall', '10':'PPlay_x'}, inplace=True)

In [6]:
df_cols = ['Game', 'Month', 'Day', 'Year', 'b1', 'b2', 'b3', 'b4', 'b5', 'PBall', 'PPlay_x']

In [7]:
df.columns = df_cols

In [8]:
df.tail(5)

           Game Month Day  Year  b1  b2  b3  b4  b5 PBall PPlay_x
1384  Powerball    10  12  2022  59  30  42  14  41     6       5
1385  Powerball    10  15  2022  32  62  40  58  37    15       5
1386  Powerball    10  17  2022  46  30  36  19  60    25       3
1387  Powerball    10  19  2022  27  42  15   8   6    10       3
1388  Powerball    10  22  2022  55  25  60  19  48    18       2

In [9]:
df.PBall.sort_values().value_counts()

24    64
18    60
19    49
25    49
5     49
6     49
4     49
13    49
11    49
8     48
10    48
17    47
26    47
3     45
20    45
7     45
14    45
1     45
15    44
16    43
2     43
9     42
21    42
12    41
22    41
23    38
29    27
33    22
27    19
32    16
30    15
35    15
28    14
34    13
31    11
36     7
39     6
38     5
37     3
Name: PBall, dtype: int64

In [13]:
cols=["Year","Month","Day"]
df['Date'] = df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

In [14]:
df.tail(5)

           Game Month Day  Year  b1  b2  b3  b4  b5 PBall PPlay_x        Date
1384  Powerball    10  12  2022  59  30  42  14  41     6       5  2022-10-12
1385  Powerball    10  15  2022  32  62  40  58  37    15       5  2022-10-15
1386  Powerball    10  17  2022  46  30  36  19  60    25       3  2022-10-17
1387  Powerball    10  19  2022  27  42  15   8   6    10       3  2022-10-19
1388  Powerball    10  22  2022  55  25  60  19  48    18       2  2022-10-22

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

res = df[~(df['Date'] < '2015-10-04')]

In [20]:
res.Date.head(10)

592   2015-10-07
593   2015-10-10
594   2015-10-14
595   2015-10-17
596   2015-10-21
597   2015-10-24
598   2015-10-28
599   2015-10-31
600   2015-11-04
601   2015-11-07
Name: Date, dtype: datetime64[ns]